<template>
  <div class="about">
    <h1>About</h1>
    <p>
      Written by Luke Picciau in 2020.
    </p>
    <p>
      Check out the source code at <a href="https://gitlab.com/Qwertie/learn-sheet-music">https://gitlab.com/Qwertie/learn-sheet-music</a>
    </p>
  </div>
</template>
