<template>
  <section>
    <div id="app">
      <div id="nav">
        <router-link to="/">Home</router-link> |
        <router-link to="/about">About</router-link>
      </div>
      <router-view />
    </div>
  </section>
</template>

<style>
@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url(/PlayfairDisplay-Regular.ttf);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  text-align: left
}

#nav a {
  font-size: 20px;
  font-family: PlayfairDisplay-Regular;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  /* color: #42b983; */
}

h1 {
  text-align: left;
  padding: 0 30px;
  font-size: 30px;
  font-family: PlayfairDisplay-Regular;
  margin: 0;
  font-weight: 300;
}

p {
  text-align: left;
  padding: 0 30px;
  /* font-family: PlayfairDisplay-Regular; */
}


body {
	background-color: #eee;
	background-image: url("/background-muted.png");
	background-repeat: repeat;
}

section {
	background-color: white;
	border: 1px solid #000;
	max-width: 500px;
	box-shadow: 7px 6px 0px 1px rgba(0,0,0,0.5);
	margin: 50px auto;
	padding: 50px;
  height: 70vh;
}
</style>
